<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RPGCharacterCreator.creatorSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RPGCharacterCreator.creatorSetting>
            <setting name="Setting" serializeAs="String">
                <value>nameTextbox.text = creatorSettings.Default.Setting; 
creatorSettings.Default.Setting;
creatorSettings.Default.Save();</value>
            </setting>
        </RPGCharacterCreator.creatorSetting>
    </userSettings>
</configuration>